<div class="main-div">
    <div class="content-div">
        <h1>Qual é o seu DJ?</h1>

        <p class="text" id="text-1">Você já ouviu musica eletrônica mas nunca foi com a cara? Acredita que você pode ser um um grande fã da Dance Music encontrando o DJ certo para você?</p>

        <p class="text" id="text-2">Com este quiz interativo, vamos desvendar seus gostos musicais e te apresentar o DJ perfeito para você.</p>

        <p class="text" id="text-3">Responda com sinceridade às perguntas sobre suas preferências e personalidade. Ao final, revelaremos qual DJ de destaque da cena eletrônica é a alma gêmea musical que você estava procurando.</p>

        <p class="text" id="text-4">Não perca tempo! Descubra agora qual DJ vai te levar a novas experiências sonoras e te fazer vibrar na batida da música eletrônica!</p>

        <button routerLink="/quiz">Iniciar Quiz</button>
    </div>
</div>
